.blog__share-cont {
    margin-top: 40px;
    

    & .blog__share__text {
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #666666;
    }

    & .blog__links-cont {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        & .blog__share__img {
            margin-right: 18px;
        }
    }
}