.blog__content {
    width: 73%;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

    @include respond-to(sm) {
        width: 95%;
    }

    @include respond-to(md) {
        font-size: 13px;
        line-height: 20px;
    }

    &__h2 {
        margin-top: 46px;

        @include respond-to(md) {
            margin-top: 30px;
        }
    }

    &__h3 {
        display: inline-block;
        
    }

    &__text {
        margin-top: 46px;

        @include respond-to(md) {
            margin-top: 30px;
        }

        & a {
            text-decoration: underline;
        }
    }

    &__ul {
        margin-left: 25px;

        @include respond-to(md) {
            margin-top: 30px;
        }

        &__item {
            margin-top: 46px;
            list-style-type: disc;
            padding-left: 0px;
            //list-style-position: inside;

        }
    }



    &__ol {

        &__item {
            margin-top: 46px;
            list-style-position: inside;

            &::marker {
                font-family: 'HelveticaNeueCyr';
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }

            @include respond-to(md) {
                margin-top: 30px;
            }
                
        }
        & p:first-of-type {
            margin-top: 0;
        }

    }


    &__img {
        margin-top: 46px;
        width: 60%;

        @include respond-to(md) {
            margin-top: 30px;
        }

        @include respond-to(sm) {
            width: 100%;
        }
    }
}