.resources__search {
    height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'HelveticaNeueCyr';
        width: 516px;
        font-style: normal;

        &__item {

            & span {
                //font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 49px;
                color: #000000;
                cursor: pointer;
            }

            & .filter__arrow {
                width: 10px;
                height: 10px;
                border-left: 2px solid $nav-color;
                border-top: 2px solid $nav-color;
                display: block;      
                display: inline-block;
                transform: rotate(225deg);
                margin-left: 3px;
                cursor: pointer;
                transition: $transitionMenu;

                &.filter__arrow_selected {
                    transform: rotate(225deg) scale(-1, -1);
                }
            }

            & .filter__sub {
                background: #FFFFFF;
                box-shadow: none;
                opacity: 1;
                margin-top: 0px;

                //border: 2px solid blue;
                width: 100%;
                padding: 8px 0;
                position: absolute;
                left: 0;
                max-height: 0;
                overflow: hidden;
                transition: $transitionResourcesFilter;
                z-index: 100;


                &.filter__sub_selected {
                    max-height: 300px;
                    transition: $transitionResourcesFilter;
                    transition-delay: $transitionResourcesFilter/1.5;
                    box-shadow: 4px 4px 4px rgba(117, 117, 117, 0.25);
                    margin-top: 23px;

                }

                & .filter__wrapper {
                    max-width: 1150px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-left: auto;
                    margin-right: auto;

                    & .filter__sub__item {
                        border: 1px solid #000;
                        border-radius: 100px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        height: 37px;
                        padding: 0 30px;
                        //font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 49px;
                        color: #000000;
                        margin: 20px 40px;
                        cursor: pointer;
    

                        &.filter__sub__item_selected {
                            background-color: #3361BB;
                        }

                        &:hover {
                            background-color: #3361BB;
                        }
                        
                    }
                }

            }
        }
    }

    &__search-cont {
        width: 441px;
        height: 50px;
        border: 1px solid black;
        border-radius: 4px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1px;

        & input {
            height: 100%;
            width: 80%;
            border: none;
            outline: 0;
            outline-offset: 0;
            font-family: 'HelveticaNeueCyr';
            font-weight: 500;
            font-size: 26px;
            //line-height: 49px;
            color: #000000;
        }

        & img {
            margin-right: 5px;
            transform: rotate(18.95deg);
            cursor: pointer;
            width: 41px;
            height: 25px;

            &:hover {
                width: 49px;
                height: 30px;
                transform: rotate(38.95deg);
                margin-right: 0px;

            }
        }
    }
}


