<div class="resources__search">
    <div class="resources__search__filter">
        <div class="resources__search__filter__item" data-category="type">
            <span>Content Type</span>
            <div class="filter__arrow" data-category="type-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="webinars">Webinars</div>
                    <div class="filter__sub__item" data-filter="videos">Videos</div>
                    <div class="filter__sub__item" data-filter="blogs">Blogs</div>
                    <div class="filter__sub__item" data-filter="reports">Reports</div>
                    <div class="filter__sub__item" data-filter="case-studies">Case Studies</div>
                    <div class="filter__sub__item" data-filter="press-release">Press Releases</div>
                    <div class="filter__sub__item" data-filter="media-articles">Media Articles</div>
                    <div class="filter__sub__item" data-filter="podcasts">Podcasts</div>
                </div>
            </div>
        </div>

        <div class="resources__search__filter__item" data-category="topic">
            <span>Content Topic</span>
            <div class="filter__arrow" data-category="topic-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="chemistry">Chemistry</div>
                    <div class="filter__sub__item" data-filter="psycology">Psycology</div>
                    <div class="filter__sub__item" data-filter="physics">Physics</div>
                    <div class="filter__sub__item" data-filter="math">Math</div>
                    <div class="filter__sub__item" data-filter="biology">Biology</div>
                    <div class="filter__sub__item" data-filter="healt">Health</div>
                    <div class="filter__sub__item" data-filter="everything">Everything</div>
                    <div class="filter__sub__item" data-filter="example">Example</div>
                </div>
            </div>
        </div>


        <div class="resources__search__filter__item" data-category="author">
            <span>Author</span>
            <div class="filter__arrow" data-category="author-arrow"></div>
            <div class="filter__sub">
                <div class="filter__wrapper">
                    <div class="filter__sub__item" data-filter="ivanov">Ivanov</div>
                    <div class="filter__sub__item" data-filter="petrov">Petrov</div>
                    <div class="filter__sub__item" data-filter="sidorov">Sidorov</div>
                    <div class="filter__sub__item" data-filter="smirnoc">Smirnov</div>
                    <div class="filter__sub__item" data-filter="noname">Noname</div>
                    <div class="filter__sub__item" data-filter="somebody">Somebody</div>
                </div>
            </div>
        </div>
    </div>


    <div class="resources__search__search-cont">
        <input type="text" class="resources__search__input">
        <img src="../assets/img/resources__search.svg" alt="" class="resources__search__search-icon">
    </div>
</div>



    