<div class="resources__block">
    <h2 class="resources__block__header">{{ block.main_header }}</h2>
    <a href={{ block.link_to }} class="resources__block__link">Read More &#8594</a>
    <div class="resources__block__content">
        <div class="resources__block__content__left">
            {% include "./_resources-block-item.twig" with {article: block.articles[0]} %} 
        </div>
        <div class="resources__block__content__right">
            {% include "./_resources-block-item.twig" with {article: block.articles[1]} %}
            {% include "./_resources-block-item.twig" with {article: block.articles[2]} %}
        </div>
    </div>
</div>