<img src="../assets/img/resources__modernize__1.png" alt="1">
<h3>Title of Resource</h3>
<p>Lorem ipsum dolor sit amet. Rem similique fugiat 
    cum iure numquam est quas nulla sit rerum modi. Rem similique fugiat cum iure numquam 
    est quas nulla sit.</p>