<div class="resources__menu">
    <div class="resources__menu__item resources__menu__item_modernize" data-partition="modernize">
        <h2 class="resources__menu__header">How to Modernize Loyalty Offers</h2>
        <p class="resources__menu__text">Learn practical, how-to steps to advance your offer 
            strategy and turn offers from a tactic into a strategic, revenue-driving lever.</p>
        <div class="resources__menu__slogan">
            <a href="#">Advance your strategy &#8594</a>
        </div>
    </div>
    <div class="resources__menu__item resources__menu__item_offers" data-partition="offers">
        <h2 class="resources__menu__header">Dynamic Offers in Action</h2>
        <p class="resources__menu__text">See how Formation’s Dynamic Offer Platform enables 
            leading brands to increase revenue & engagement.</p>
        <div class="resources__menu__slogan">
            <a href="#">Learn more &#8594</a>
        </div>

    </div>
    <div class="resources__menu__item resources__menu__item_future" data-partition="future">
        <h2 class="resources__menu__header">The Future of Modern Loyalty</h2>
        <p class="resources__menu__text">Formation’s leaders are at the forefront of loyalty 
            trends - learn what’s on the horizon for innovative loyalty leaders.</p>
        <div class="resources__menu__slogan">
            <a href="#">Discover trends &#8594</a>
        </div>
    </div>
</div>

