<div class="resources__preview">
    {% for preview in previews %}
    <div class="resources__preview__item">
        {% include "./_resources-block-item.twig" with {resource: preview} %}
    </div>
    {% endfor %}
</div>
<div class="resources__preview__pages">
ds
</div>